table(class='leaderTable')
    thead
        tr
            th(class='header') Player
            th(class='header') Score

    tbody
        each player in players
            tr
                th(class='contents') #{player.name}
                th(class='contents') #{player.score}
