if loggedIn
    h3.userName #{name}
else
    h3.userName Not logged in

table
    tbody
        if loggedIn
            tr.alignCenter
                th(colspan=2).alignCenter
                    div.smallButton.alignCenter Logout
        else
            tr.alignCenter
                th.alignCenter
                    div.smallButton.alignCenter Login
                th.alignCenter
                    div.smallButton.alignCenter Register
