.profileBlock
{
    width: 200px;
    height: 80px; /*106px*/
    /*border: 1px solid black;*/
    position: fixed;
    right: 4%;
    top: 3%;
    align-content: center;
    text-align: center;
}

.userScore
{
    display: none;
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
}

.userName
{
    display: none;
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
}

h3
{
    margin: auto;
    font-size: 30px;
}

h4
{
    margin: auto;
    font-size: 20px;
}
