.viewTitle
{
    font-family: 'Indie Flower', cursive;
    font-size: 500%;
    text-align: center;
    margin: 0px;
    margin-bottom: 1%;
    color: #12212a;
}

.button
{
    margin-top: 3%;
    font-size: 350%;
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.button:hover
{
    font-size: 380%;
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
    line-height: 60px;;
    text-align: center;
}

.smallButton
{
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.smallButton:hover
{
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    text-align: center;
}
