.viewTitle
{
    font-family: 'Indie Flower', cursive;
    font-size: 55px;
    text-align: center;
    margin: 0px;
    color: #12212a;
}

.button
{
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.button:hover
{
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
    line-height: 60px;;
    text-align: center;
}

.smallButton
{
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.smallButton:hover
{
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    text-align: center;
}
