.messageBox
{
    font-family: 'Indie Flower', cursive;
    border: 1px solid black;
    background-color: #fffef6;
    position: absolute;
    align-content: center;
    text-align: center;
    padding: 10px;
    width: auto;
}

.messageBoxTitle
{
    font-size: 35px;
}

.messageArea
{
    font-size: x-large;
}

.buttonMessageOK
{
    position: relative;
    top: 4px;
    width: 100px;
    font-family: 'Indie Flower', cursive;
    font-size: x-large;
}
