.submit
{
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    color: #1e2123;
    width: 120px;
    border: 1px solid #231a0b;
    margin: auto;
    margin-top: 5px;
    background-image: url("/Resources/Textures/background-seleted-menu-item.png");
    background-size: 80px;
}

.form
{
    margin: auto;
    align-content: center;
    text-align: center;
}
