.loginForm
{
}

.info
{
    font-size: 15px;
}

.error
{
    font-size: 15px;
    color: darkred;
}

.submitButton
{
    background: lightgray;
    border: 1px solid #212121;
}

.alignCenter
{
    margin: auto;
}
