.loginForm
{
}

.info
{
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
    font-size: 21px;
}

.error
{
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
    font-size: 21px;
    color: darkred;
}

.submitButton
{
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
    background: lightgray;
    border: 1px solid #212121;
}

.alignCenter
{
    margin: auto;
}
