.loginForm
{
}

.info
{
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
    font-size: 21px;
}

.error
{
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
    font-size: 21px;
    color: darkred;
}

.submitButton
{
    background-color: #f5f5f5;
    border: 1px solid #212121;
    height: 41px;
    width: 120px;
    font-size: x-large;
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
}

.alignCenter
{
    margin: auto;
}
