.menuContainer
{
    position: fixed;
    left: 25%;
    right: 25%;
    top: 15%;
    bottom: 25%;

    margin: 0;
    padding: 5% 5% 5% 5%;
}

.menuTitle
{
    color: #080031;
    text-align: center;
    font-size: 50px;
}

.menuSpacerLarge
{
    height: 10%;
}

.menuSpacerSmall
{
    height: 2%;
}

.newLine
{
    display: block;
}
