.aboutText
{
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    left: 25%;
    text-align: center;
}

.aboutLine
{
    font-size: 25px;
}
