.inputIdle
{
    border: 1px solid #0b0316;
    background-image: url("/Resources/Textures/background-texture.png");
}

.errorMessage
{
    color: darkred;
    font-size: 20px;
}

.centerContainer
{
    margin: auto;
    align-content: center;
}
